<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FrameworkDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C5E3DA972046D3570008502D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5E3DAA02046D3580008502D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5E3DAB52046D3E00008502D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5E3DAC82046D3E00008502D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
